<a href="https://colab.research.google.com/github/martinjm81/pythonprojects/blob/Econometrics/importar_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
#paso1: subir manualmente el archivo al entorno de google collab
### para subirlo hacer el click en el icono de carpeta y luego dar click en el
### en el archivo con la flecha hacia arriba, elegir el archivo de su pc y listo
#paso2: utilizar este codigo
archivo = '/content/wp-0501-2022-emecep-a.xlsx'
import pandas as pd
datos = pd.read_excel(archivo, header=2)
#datos = datos.iloc[0:]
print(datos)

   Unnamed: 0   lformal varlformal lformalprivado varlformalprivado linformal
0       Ene16  4649.427   3.400724       3299.065          1.786238      65.6
1       Feb16  4652.841   3.393112        3273.91          1.420829      65.5
2       Mar16  4962.503   3.847166       3574.361          2.056863      65.2
3       Abr16  4868.992   2.482203       3470.443          1.177592      65.1
4       May16  4781.135   2.666924       3374.433          1.892807      65.2
..        ...       ...        ...            ...               ...       ...
84      Ene23  5553.386    2.59761       4039.893           5.17268      n.d.
85      Feb23  5490.082   2.354777       3958.981          5.003762      n.d.
86      Mar23      n.d.       n.d.           n.d.              n.d.      n.d.
87      Abr23      n.d.       n.d.           n.d.              n.d.      n.d.
88      May23      n.d.       n.d.           n.d.              n.d.      n.d.

[89 rows x 6 columns]